.catalog {
  margin-top: 42px;/**/
  margin-bottom: 78px;
}
.catalog-body {
  margin-bottom: 0; /*36px;*/
  padding: 0;
}
.catalog-top {
  display: flex;
  justify-content: start;
}
.catalog-top__flags {
  width: 476px;/*
  height: 60px;*/
  display: flex;
  justify-content: space-around;
}
.flags-item-link {
  width: 80px;
  height: 64px;
  margin-left: -17px;/* окружность вокруг флага*/
  margin-top: -3px;
  display: inline-block;/*
  background: none;/*var(--color-bg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px 45px;/*
  width: 46px;
  height: 58px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45px 45px;*/
}
.italia {
  background-image: url('../img/flag_italia.png');
}
.germany {
  background-image: url('../img/flag_germany.png');
}
.france {
  background-image: url('../img/flag_france.png');
}
.russia {
  background-image: url('../img/flag_russia.png');
}
.espana {
  background-image: url('../img/flag_espana.png');
}
.catalog-introduction {
  width: 1090px;
  margin-bottom: 20px;
  padding-left: 0px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: left;
}
.catalog-footer {
  display: flex;
  flex: 0 0 50%; /**/
  justify-content: space-between;
}
.card-autor {/*
  width: 750px; */
  width: 50%;
  max-width: 750px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}
/* new */ 
.card-hide {
  display: none;
}
/**/
.autor-img {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;/*
  width: 100%;/**/
  height: 470px;/**/
  object-fit: contain;/* cover;*/
}
.autor-name {
  margin-bottom: 8px;
  padding: 0; 
  padding-right: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.014em;
}
.autor-date {
  margin-bottom: 0px;
  font-size: 12px;/*
  padding: 0; 
  padding-right: 20px;*/
}
.autor-desc {
  padding: 0; 
  padding-right: 20px;
  margin-top: -2px;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}
.catalog-footer {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;/*
  justify-content: space-around;*/
}
.wrap-text {
  display: flex;
}
.h2-tab {
  height: 80px;
  margin: 40px 40px 0 0px;
  display: inline-block;
}