.navbar {
    display: inline-flex;
    width: 100%;
    padding-top: 2px;/*
    flex-direction: row;
    align-items: center;*/
    color: #fff;
    align-items: center;/*
    overflow: hidden;*/
}
.dropdown {
  position: relative;/*
  top: 40px;
  background-color: #ddd; 
  display: none;
  width: 180px;*/
  flex-direction: column;
  flex-wrap: wrap;/*
  min-width: 250px;/*
  padding: 10px 10px 0;*/
  align-content: center;
  border-top: none;
  z-index: 30;/*
  position: relative;/*
  float: left;/* 23.02 - no*/
  /*display: flex; так не получается 
  flex-direction: row;
  text-align: left;/*
  display: inline-block; 23.02 - yes*
  overflow: hidden;
  margin-right: 0;
  z-index: 20;*/
}
/*.dropdown,*/
.dropbtn {
    cursor: pointer;
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 0px 0 12px;/* 25.02 */
    /*
    padding: 2px 0 14px;/* 22.02 */
    background-color: inherit;
    font-family: inherit;
    letter-spacing: 0.014em;
    margin: 0;
}
.dropdown:not(:last-child) {
  margin-right: 93px;
}
.dropdown-content {
  position: absolute;
  top: 45px;
  display: none;
  min-width: 300px; /* ??? */
	max-height: 300px;
  flex-direction: column;/*
  padding-top: 0;*/
  padding: 40px 40px;
  background: rgba(0, 0, 0, 0.4);/**/
  border-top: none;
  z-index: 20;
}  /*
@keyframes widthBig {
  0%   { width: 110px; }
  100%   { width: 220px; }
}*/

.dropdown-content-bg {
  position: relative; 
  height: 40px;
  padding: 10px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 30;  
}

.dropdown-content-bg::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px solid var(--color-hover);
	opacity: 0;
	transition: opacity 0.3s;
}

.dropdown-content-bg:not(:last-child) {
 margin-bottom: 20px;
}
.real-1 {
  background-image: url('../img/drop_1.jpg');
}
.real-2 {
  background-image: url('../img/drop_2.jpg');
}
.real-3 {
  background-image: url('../img/drop_3.jpg');
}
.real-4 {
  background-image: url('../img/drop_1.jpg');
}
.real-5 {
  background-image: url('../img/drop_3.jpg');
}
.real-6 {
  background-image: url('../img/drop_1.jpg');
}

.dropdown-content-link {/*
    width: 100%; */
    margin-left: 10px; 
    padding: 10px; 
    font-weight: 400;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
    z-index: 30;/**/
}
.dropdown-content-bg:hover::after,
.dropdown-content-bg:focus::after {
  opacity: 1;
}
.dropdown-content-bg:active {
  background: #C283F3;
}
.show {
    display: block;
}