.navbar {
    overflow: hidden;/*
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;*/
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  /*
  align-items: center;
  background: none;/**/
}
.navbar a {/*
    float: left;*/
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {/*
    float: left;*/
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    padding-top: 0;
    overflow: hidden;
}/*
.dropdown:nth-child(1) {
padding-right: 10px;
}*/
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 0px 0 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus { /*
    background-color: #333;/**/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd; /*f9f9f9;*/
    min-width: 160px;
    top: 168px;/**/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid var(--color-gray);
    border-radius: 1em;
    border-top: none;
    z-index: 3210;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9f9f9; /*var(--color-bg);/*#ddd;*/
    color: var(--color-acc-active) !important;/**/
}

.show {
    display: block;
}
