.navbar {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 12px 0px;
    text-decoration: none;
}
.dropdown {
  position: relative;
  float: left;/*
  display: flex; так не получается 
  flex-direction: row;*/
  overflow: hidden;
  margin-right: 0;
  z-index: 20;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 0px;
    background-color: inherit;
    font-family: inherit;
    letter-spacing: 0.014em;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus { /*
    background-color: #333;/**/
    color: var(--color-hover);
}
.dropdown-content {/*
  position: absolute;/* relative;*/
  background-color: #ddd; /*f9f9f9;*/
  display: none;
  width: 220px;
  flex-direction: column;
  min-width: 250px;/**/
  padding: 10px 10px 0;
  align-content: center;
  border-top: none;
  z-index: 10;
}
.dropdown-content-bg {
  position: relative;/*
  top: 10px;*/
  padding: 10px;
  z-index: 30;
}
.real-1,
.real-2,
.real-3,
.real-4,
.real-5,
.real-6
  {
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
}
.real-1 {
  background-image: url('../img/drop_1.jpg');
}
.real-2 {
  background-image: url('../img/drop_2.jpg');
}
.real-3 {
  background-image: url('../img/drop_3.jpg');
}
.real-4 {
  background-image: url('../img/drop_4.jpg');
}
.real-5 {
  background-image: url('../img/drop_3.jpg');
}
.real-6 {
  background-image: url('../img/drop_4.jpg');
}

.dropdown-content-bg:hover {
  background: rgba(0,0,0,0.4);
}
.dropdown-content-bg:last-child {
  padding-bottom: 10px;
}
.dropdown-content-link {
    width: 100%; /*220px;*/
    margin-left: -10px; 
    margin-top: -10px;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    color: white;
    z-index: 30;
}

.dropdown-content a:hover {
    /*background-color: #f9f9f9; /*var(--color-bg);/*#ddd;*/
    color: white; /*var(--color-acc-active) !important;/**/
}
.dropdown-content-link:hover {/*
  opacity: 0.9;*/
}
.show {
    display: block;
}