.editions {
  width: 100%;
  height: 763px;
  padding-top: 20px;
  margin-bottom: 60px;
  background-image: url('../img/birmingham_MK_98_C44.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.editions__body {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.editions__body .content__title {
  padding: 0;
  margin-bottom: 10px;
}
.editions__body-left {
  min-width: 320px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.choices-category {
  margin-bottom: 22px;
}
.form-group {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 14px;
}
.form-group input {
  padding: 0;
  height: 15px;
  width: 15px;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group label:before {
  content:'';
  -webkit-appearance: none;
  padding: 5px;/* размер */
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
  margin-right: 12px;
  border: 1px solid #fff;
}
.form-group label:focus {
  outline: 1px solid var(--color-violet);
}
.form-group label:hover,
.form-group label:active {
  color: var(--color-violet);
}
.form-group input:checked + label:after {
  content: '\2024'; /* 2713'; 26AB 26AC 2024 22 23 43  */
  display: block;
  position: absolute;
  top: -1px;
  left: 3px;
  font-weight: 700;
  color: var(--color-violet);/* #CCB26E;*/
}
.price {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.category-title,
.price__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
}
.price__title {
  margin-bottom: 8px;
}
.price__range {
  width: 274px;
  height: 40px;
  padding: 0;
  display: flex;
  border: 1px solid #fff;
}
.price-input {
  width: 76px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  background-color: var(--color-violet);
}
.price-input:first-child {
  width: 38px;
}
.price input::-webkit-input-placeholder { 
  color: #fff; 
}
.price input::-moz-placeholder { 
  color: #fff; 
}
.range-number {
  padding: 10px 7px 0;
  font-size: 14px;
}
.editions__body-right {
  width: 1150px;
  padding: 0;
  margin: 0;
}
/* swiper */
.editions-container {
  position: relative;
  width: 100%; 
  max-width: 1150px;
  height: 700px; 
  padding-top: 60px;
  padding-left: 0;
}
.editions-wrapper {
  position: relative;
  height: 690px;
  margin-top: 210px;
}
.editions-slide {
  height: 650px;
  padding: 0;
  margin-top: 0px;
  font-size: 18px;
  align-items: center;
  background: none;
}
.card-edition img {
  max-width: 350px;
  height: 390px;
  margin-bottom: 20px;
  object-fit: cover;
}
.card-edition {
  width: 350px;
  height: 620px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: none;
}
.text-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}/*
.edition-name,*/
.edition-span {
  margin-bottom: 19px;
  font-size: 15px;
  font-weight: 300;
  line-height: 14px;
}
.edition-price {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;/*
  line-height: 14px;
  letter-spacing: 0em;*/
  color: #fff;
}
.edition-name {
  width: 250px; 
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 700;  
  line-height: 1.2;
}
.edition-span {
  font-size: 16px;
  font-weight: 300;
}
.btn-order {
  width: 106px;
  height: 35px;
  margin-left: 2px;
  border: 1px solid var(--color-violet);
  border-radius: 1em;
  color: #fff;
  background: none;
}
.btn-order:hover {
  background-color: var(--color-violet);
}  
/* */
.wrap-slide-num {
  position: relative;
  display: inline-flex;
  margin: 20px 0 0 60px;
}
.editions-container .slide-num {
  font-size: 16px;
  color: #cfcfcf;
}
.editions-container .swiper-button-prev,
.editions-container.swiper-container-rtl .swiper-button-next {
  left: 5px;
  top: 72px;
  right: auto;
}
.editions-container .swiper-button-next,
.editions-container .swiper-container-rtl .swiper-button-prev {
  left: 105px;
  top: 72px;
  right: auto;
}