.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header-top {
  background-color: #000;
  color: #fff;

}

.header-body {  
  height: 100%;
  display: flex;
  justify-content: start; /*space-between;*/
  align-items: center;
}
.menu-head {
  display: flex;
  padding-bottom: 6px;
  padding-left: 179px;
  align-items: center;
}

.menu-head__item-link {
  font-weight: 600;
}
.menu-head__item-link:hover {
  color: var(--color-hover);
}
/**/
.wrap {
  display: flex;
  align-content: center;
  padding-top: 0px;
}
/**/
.logo {
  width: 173px;
  height: 100px;/*
  margin-right: 180px;/**/
  background-image: url('../svg/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.btn-head {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: -4px;
  margin-right: -1px;
  margin-left: auto;/**/
}
.btn-head::before {
  content: url('../svg/common.svg');
  width: 14px;
  height: 14px;
  position: absolute;
  left: -19px;
  top: 0;
  margin-right: 20px;
}
.btn-head:hover::before {
  content: url('../svg/common_hover.svg');
  width: 14px;
  height: 14px;
  position: absolute;
  left: -20px;
  top: 0;
  margin-right: 20px;
}
.menu-head__item:not(:last-child) {
  padding: 2px 0;;
  margin: 0;
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: 0.02em;
}
.menu-genre {
  position: absolute;
  width: 100%;
  height: 70px;/**/
  padding: 0;
  background: rgba(0,0,0,0.2);/*
  z-index: 1;*/
}
.wrap-menu {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.menu-body {
  width: 100%;/*
  background-color: rgba(0,0,0,0.3)
  /*
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background: none;/*
  display: flex;
  justify-content: space-between;
  align-items: center;*/
  
}
/*
.btn-genre {
  position: relative;
  height: 100%;
  background: none;
  border: none;
  color: #fff;
  z-index: 100;
  background: none;
}
.btn-genre::after {
  content: url('../svg/down.svg');
  padding-left: 7px;
}
.btn-genre:hover {
  color: var(--color-hover);
}
.btn-genre:hover::after {
  content: url('../svg/down_v.svg');
  color: var(--color-hover);
}

.btn-genre:not(:last-child) {
  margin-right: 110px;
}
/**/
.genre__select {
  position: relative;
  /*cursor: pointer;*/
}
.genre__select::after {
  content: url('../svg/down.svg');
  padding-left: 5px;
}
.genre__select:hover {
  color: var(--color-hover);
}
.genre__select:not(:last-child) {
  margin-right: 88px;
}
/**/ 
.search-body {
  height: 100%;
  display: inline-flex;
  padding-top: 22px;/*
  align-content: center;*/
  
  padding-left: 228px;
  flex-direction: column;
}
.btn-search {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  color: #fff;
}
.btn-search::before {
  content: url('../svg/search.svg');
  width: 20px;
  height: 20px;
  position: absolute;
  left: -33px;
  margin-right: 20px;
}
.line-search {
  padding-top: 7px;
  height: 5px;
  width: 218px;
  border-bottom: 1px solid #fff;
}
/*
.line-search:hover {
  border-color: var(--color-hover);
}*/