.hero {
  margin-top: 100px;/*
  height: 800px;/**/
  width: 100%;
  background-image: url('../img/birmingham_unsplash_2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding: 0px;
  z-index: 1;
  animation: scaling 12s linear infinite;
}
@keyframes scaling {
  0%   { background-size: 100%; } 
  25%  { background-size: 106%; }
  50%  { background-size: 115%; }
  75% { background-size: 106%; }
  100% { background-size: 100%; }
}
.img-content {
  position: relative;
  padding-top: 139px;
  padding-bottom: 26px;
  padding-right: 80px;
  margin-bottom: 120px;
  width: 40%; 
  color: #fff;
  z-index: 1;
}
.img-content__title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.img-content__desc {
  width: 100%;
  margin-bottom: 116px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
}
.btn-hero {
  padding: 24px 35px;
  background-color: #9d5cd0;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 0.0em;
	border: 2px solid transparent;
	transition: border 0.3s;
}
.btn-hero:hover {/*
  background-color: #7943a4;*/
  border: 2px solid var(--color-hover);/* 
  border-radius: 100px;*/
}
.btn-hero:active {
  background-color: #7943a4;
}
.hero-content {
  padding-top: 50px;
  padding-bottom: 68px;
  background-color: #fff;/*
  background-color: #E5E5E5;*/
  color: #333;
}
.hero-body {
  width: 1080px;
  padding-top: 30px;
}
.hero-body .content__desc {
  margin-top: -4px;
}