.hero {/*
  position: relative;*/
  margin-top: 0px;
}
.img-hero {
  position: relative;/**/
  padding: 0;
  margin-bottom: 13px;
  height: 630px;
  object-fit: cover;
  z-index: 2;/**/
}
.img-content {
  position: absolute;
  top: 240px;
  padding-right: 200px;
  width: 42%; /*550px;*/
  color: #fff;
  z-index: 2;
}
.img-content__title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  z-index: 1;
}
.img-content__desc {
  width: 100%;
  margin-bottom: 116px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;
}
.btn-hero {
  padding: 24px 32px;
  background-color: #9d5cd0;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.btn-hero:hover {
  background-color: #7943a4;
}
.btn-hero:active {
  background-color: #7943a4;
}
.hero-content {
  padding-top: 64px;
  margin-bottom: 68px;
  color: #333;
}
.hero-body {
  width: 1080px;
}
.hero-body .content__desc {
  margin-top: -4px;
}