@media (max-width: 1660px) {
  .container {
    max-width: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media all and (hover) {
/* and (.btn-search:hover) {*/
  .btn-search:hover::before {
    content: url('../svg/search_v.svg');
    width: 14px;
    height: 14px;  
  }
  .line-search:hover {
    border-color: var(--color-hover);
  }
}