@media (max-width: 1660px) {
  .container {
    max-width: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media all and (hover) {
 /* .search-body:hover {*/
    
  .btn-search:hover {
    background-image: url('../svg/search_v.svg');
  }
  .search-input:hover { 
    border-bottom: 1px solid var(--color-hover);
  }
/* для 2-х не работает */
}