.hystmodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0,0.5);
  z-index: 100;/*
  transition: 0.3s;*/
  padding: 30px 0;
  visibility: hidden;
}/*
.hystmodal__window {
  height: 500px;
  width: 900px;
  max-width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  transition: transform 0.15s, opacity 0.15s ease 0s;
  transform: scale(1);
}*/
.hystmodal__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.hystmodal__window {
  margin: 50px 0;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  width: 600px;
  max-width: 100%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}
.hystmodal--active{
    visibility: visible;
}
.hystmodal--active .hystmodal__window{
    transform: scale(1);
    opacity: 1;
}
.hystmodal__shadow {
    position: fixed;
    border:none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}
/* активная подложка */
.hystmodal__shadow--show {
    pointer-events: auto;
    opacity: 0.6;
}
.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}
/* --- */
.icon-delete:after {
  position: absolute;
  content: '\2716';
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  color: #000;
  cursor: pointer;
}/* ×
.icon-delete {
  position: absolute;
  content: '00D7'; 
  width: 10px;
  height: 10px;
  display: inline-block;
  right: 10px;
  top: 10px;

}*/
.modal-img {/*
  float: left;/**/
  width: 48%;
  height: 100%;
  object-fit: cover;
} 
.autor-card {
  width: 48%;
  margin: 10px 20px 20px 60px;
  display: flex;
  flex-direction: column;
}
.autor-card .autor-name {
  margin-top: 110px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1;
}
.autor-card .img-name {/*
  margin-top: 20px;*/
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.autor-card .autor-desc {
  margin-top: 40px;
}
.modal-img-descr {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color-bg);
}