.modal-body {
  position: fixed;
  top: 0;
  left: -2000px;
  right: 0;
  bottom: 0;
  height: 900px;
  background-color: rgba(0,0,0,0,0.5);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1000;
  transition: 0.3s;
}
.modal-window {
  position: fixed;/* absolute;*/
  top: 0;
  left: 0;
  height: 500px;
  width: 900px;/*
  display: */
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;/*
  border: 2px solid var(--color-violet);*/
  z-index: 40;
}
.icon-delete:after {
  position: absolute;
  content: '\2716';
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  color: #000;
  cursor: pointer;
}/* ×
.icon-delete {
  position: absolute;
  content: '00D7'; 
  width: 10px;
  height: 10px;
  display: inline-block;
  right: 10px;
  top: 10px;

}*/
.modal-img {/*
  float: left;/**/
  width: 48%;
  height: 100%;
  object-fit: cover;
} 
.autor-card {
  width: 48%;
  margin: 10px 20px 20px 60px;
  display: flex;
  flex-direction: column;
}
.autor-card .autor-name {
  margin-top: 110px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1;
}
.autor-card .img-name {/*
  margin-top: 20px;*/
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.autor-card .autor-desc {
  margin-top: 40px;
}
.modal-img-descr {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color-bg);
}