.accordion .ui-accordion-header {
	position: relative;
	
}
.accordion .ui-accordion-header:active {
	outline: none;
}
.ui-accordion-header {
	padding: 30px 2px;
	border: none;
	border-top: 1px solid var(--color-gray);
}/*
.ui-accordion-header:nth-last-child() {
	border-bottom: 1px solid var(--color-gray);
}
.ui-accordion-header-active .ui-state-active {
	outline: none;
}
.list-autors .ui-accordion-header .ui-corner-top .ui-state-default {*/
.ui-accordion-header-collapsed .ui-corner-all {
 outline: none !important;
	border: none !important;
}
.accordion .ui-accordion-header-icon {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;    
	display: inline-block;
	width: 20px;
	height: 13px;    
	background: url(/img/down.png) 50% 50% no-repeat;
}
.accordion .ui-accordion-header-active .ui-accordion-header-icon {
	background-image: url(/img/up.png);
}
/* перенес из catalog */
/* accordion 
.accordion-text {
  width: 33.33%;
}*/
.ui-accordion-header {
  width: 100%;
  text-align: left;
}
/*  */
.ui-accordion-header-icon,
.ui-icon,
.ui-icon-triangle-1-e {
  fill: white;
  color: white;
}
/* 1-й вариант
.ui-icon, .ui-widget-content .ui-icon {
    background: none !important;
}  2-й вариант */
.ui-icon {
  width: 0;
  height: 0 !important;
}
.list-autors {/*
  width: 100%;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: var(--color-bg);
}
.accordion-text-col {
  width: 33.33%;
  padding-right: 50px;
  /* 100%;
  margin: 0;
  display: flex;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  line-height: 32px;
  border: none;
  border-bottom: 1px solid var(--color-gray);*/
}
.wrap-autor-link {
  color: var(--color-violet);
  text-decoration: underline;
}
.ui-accordion-header-active,
.ui-state-active {
  background-color: #fff !important;
  color: #000 !important;
}
.period-life {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  width: 90%;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.accordion-text-col a {
  color: var(--color-violet);/*
  text-decoration: underline;*/
}
.accordion-text-col a:hover {
  color: var(--color-hover);
}
.ui-accordion-header-active,
.ui-state-active {
  background-color: var(--color-bg) !important;
  color: #000 !important;
}
.period-life:active {
  background-color: var(--color-bg) !important;
}
.period-life:hover,
.period-life:focus {
  color: var(--color-hover);
}
.circle {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  margin-left: auto;
  background-image: url('../svg/c_down.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}
.circle:hover {
  background-image: url('../svg/c_down_h.svg'); 
}/*
.circle:active {
  background-image: url('../svg/c_u.svg'); 
}*/
.circle-up:hover:active {
  background-image: url('../svg/c_u.svg'); /* --color-acc-active: #7943A4 */
}

.circle-up {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  margin-left: auto;
  background-image: url('../svg/c_u.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}/*
.circle:active {
  background-image: url('../svg/c_u.svg');
  transform: translate(2px, 1px) rotate(180deg);
}*/


/* работает, когда сначала класс, потом элемент !!!
.question-text:hover::after {
  background-image: url('../svg/c_d.svg');
}
.question-text:active::after {
  background: none;
  transform: translate(2px, 1px) rotate(45deg);
}
*/
