/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff');*/
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  /* отменяет учет толщины бордера при расчете ширины и высоты элемента*/
}
:root {
  --color-hover: #C283F3;
  --color-acc-hover: #9D5CD0;
  --color-acc-active: #7943A4;
  --color-violet: #9D5CD0;
  --color-danger: red;
  --color-gray: #333;   
  --color-bg: #E5E5E5;

  --delta-y: 60px;/*
  --name-tab-1: 'domeniko';
  --name-tab-2: 'kramskoy';
  --name-current: '';*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px; 
  margin: 0;
  background-color: var(--color-bg);
  font-family: 'Open Sans', Arial, sans-serif;  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-gray);
  line-height: 1;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  outline: none;
}

button {
  cursor: pointer;
}
/*
button:focus {
  outline: 1px solid var(--color-orange);
}*/

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 30px;
  letter-spacing: 0.018em;
}

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.content__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  padding-left: 0px;
  margin-bottom: 20px;
  letter-spacing: 0;
}
.content__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
