/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'),
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), 
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'); 
  }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'),
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), 
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff');       
}
/**/
html {
  box-sizing: border-box;
  /* отменяет учет толщины бордера при расчете ширины и высоты элемента*/
}
:root {
  --color-hover: #C283F3;
  --color-acc-hover: #9D5CD0;
  --color-acc-active: #7943A4;
  --color-violet: #9D5CD0;
  --color-danger: red;
  --color-gray: #333;   
  --color-bg: #fff; /*E5E5E5;*/
  --position-x: 625px;
  --delta-y: 60px;/*
  --name-tab-1: 'domeniko';
  --name-tab-2: 'kramskoy';
  --name-current: '';*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  min-width: 320px; 
  margin: 0;
  background-color: #fff; /*var(--color-bg);*/
  font-family: 'Open Sans', Arial, sans-serif;  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-gray);
  line-height: 1;
}
button,
input {
  font: inherit;
}
img {
  max-width: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  outline: none;
}
/*header a:hover,*/
.dropdown-content-bg:hover,
.genre__select:hover {
 transition: color 0.4s ease-in-out;
}
.dropdown-content-bg:active {
 transition: color 0.7s ease-in-out;
}
/* ??? */
.modal-window {
  transition: left 0.7s ease-in-out;
}

button {
  cursor: pointer;
}
/*
button:focus {
  outline: 1px solid var(--color-orange);
}*/

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 32px;
  letter-spacing: 0em;
}

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.content__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  padding-left: 0px;
  margin-bottom: 20px;
  letter-spacing: 0;
}
.content__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
::-webkit-input-placeholder { /* WebKit browsers */
   color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}